<h1 class="page-header">Listing posts</h1>

<% @posts.each do |post| %>
  <h3><%= link_to post.title, post %></h3>
  <div><%= simple_format post.body %></div>
  <hr />
<% end %>

<%= link_to 'New Post', new_post_path, class: "btn btn-default" %>
